// $themes: (
//     light: (
//         bg-color:#f4f5f5
//     ),
//     dark: (
//         bg-color:#0d1117
//     )
// );

// @mixin themify($themes: $themes) {
//     @each $theme-name, $map in $themes {
//       .theme-#{$theme-name} & {
//         $theme-map:() !global;
//         @each $key, $value in $map {
//           $theme-map: map-merge($theme-map, ($key: $value)) !global;
//         }
//         @content;
//           $theme-map: null !global;
//       }
//     }
// }
  
// @function themed($key) {
//     @return map-get($theme-map, $key);
// }

// 全局
html {
    font-size: 12px;
    font-family: -apple-system,system-ui,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial;
    word-break: break-word;
    text-rendering: optimizeLegibility;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}
body{
    margin: 0;
}


// 亮色
$light-bgcolor: #f4f5f5;
$light-title-color: #2e3135;
$light-default-color: #ffffff;
$light-link-hover-color:#007fff;


// 暗色
$dark-bgcolor:#0d1117;
$dark-title-color: rgb(201, 209, 217);
$dark-default-color:#161b22;
$dark-link-hover-color: rgba(201, 209, 217, .8);

// 主题模板
[name=theme-light]{
    .global-bgcolor{
        background-color: $light-bgcolor;
    }
    .global-title-color{
        color: $light-title-color;
    }
    .global-default-color{
        background-color: $light-default-color;
    }
    .global-link-hover-color:hover{
        color: $light-link-hover-color;
    }
}
[name=theme-dark]{
    .global-bgcolor{
        background-color: $dark-bgcolor;
    }
    .global-title-color{
        color: $dark-title-color;
    }
    .global-default-color{
        background-color: $dark-default-color;
    }
    .global-link-hover-color:hover{
        color: $dark-link-hover-color;
    }

}



// 全局样式
.zg-header{
    height: 42px !important;
    ul{
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        align-items: center;
        height: 42px;
        justify-content: space-between;
        .zg-menu{
            display: flex;
            align-items: center;
        }
        li{
            font-size: 14px;
            margin-right: 20px;
            cursor: pointer;
        }
    }
}

.zg-container{
    width: 960px;
    margin: auto;
}